<h1>All Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <%= cl_image_tag(list.photo.key,
      width: 400, height: 300, crop: :fill) unless list.photo.key.nil? %>
  <% end %>
</ul>
